@model AnimalStore2.Models.Animal
<div class="well listItemCard">
    <h3>
        <strong>@Html.ActionLink(Model.Name, "Details", new { id = Model.AnimalId }) </strong>
        <span class="pull-right label label-primary">@Model.Price.ToString("# грн")</span>
    </h3>


    @if (Model.PathImage != null)
    {
        <div class="pull-left" style="margin-right: 15px">
            <img class="image" width="100" height="100"
                 src="@Model.PathImage" alt="@Model.Name" />
        </div>
    }
    <br />
    <br />
    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        <div class="pull-right">
            <input type="hidden" value="@Model.AnimalId" name="Id" />

            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="Добавити в кошик" />
        </div>
    }

    <span class="lead">@Model.Description</span>



</div>
<br />

