@model AnimalStore2.WebUI.CartIndexViewModel

@{
    ViewBag.Title = "AnimalStore: ваш кошик";
}

<h2>Ваш кошик</h2>
<table class="table">
    <thead>
        <tr>

            <th>Тварина</th>
            <th class="text-right">Ціна</th>
            <th class="text-right">@Model.ReturnUrl</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
        <tr>

            <td class="text-left">@line.Name</td>
            <td class="text-right">@line.Price.ToString("# грн")</td>
            <td>
                @using (Html.BeginForm("RemoveFromCart", "Cart"))
                {<input type="hidden" value="@line.AnimalId" name="Id" />
                    
                    @Html.HiddenFor(x => x.ReturnUrl)
                    <input class="btn btn-sm btn-warning" type="submit" value="Видалити" />
                }
            </td>
            
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5" class="text-right">Разом:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("# грн")
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Продовжити купівлю</a>
    @Html.ActionLink("Оформити замовлення", "Checkout", null, new { @class = "btn btn-primary" })
</div>

