@model IEnumerable<AnimalStore2.Models.Animal>

@{
    ViewBag.Title = "Панель адміністратора: список тварин";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="panel panel-default">
<div class="panel-heading">
    <h3>Список тварин</h3>
</div>
<div class="panel-body">
    <table class="table table-striped table-condensed table-bordered">
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Ім'я</th>
            <th class="text-left">Порода</th>
            <th class="text-center">Вік</th>
            <th class="text-right">Ціна</th>
            <th class="text-center">Дія</th>
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td class="text-center">@item.AnimalId</td>
        <td class="text-center">@Html.ActionLink(item.Name, "Edit", new { id=item.AnimalId })</td>
        <td class="text-left">@item.Breed</td>
        <td class="text-center">@item.Age</td>
        <td class="text-right">@item.Price.ToString("# грн")</td>
        <td class="text-center">
            @using (Html.BeginForm("Delete", "Admin"))
            {
                @Html.Hidden("Id", item.AnimalId)
                <input type="submit"
                       class="btn btn-default btn-xs"
                       value="Видалити" />
            }
        </td>
    </tr>
        }
    </table>
</div>
<div class="panel-footer">
    @Html.ActionLink("Добавити тварину", "Create", null,
        new { @class = "btn btn-default" })
</div>
</div>









